.vs
.vscode
bin/**
obj/**
.fake
.ionide
bin
bin
bin
bin
bin
bin
bin
bin
bin
bin/Debug/netcoreapp3.1/Projet_CSharp_S2.dll
bin/Debug/netcoreapp3.1/Projet_CSharp_S2.pdb
obj/Debug/netcoreapp3.1/Projet_CSharp_S2.csproj.AssemblyReference.cache
obj/Debug/netcoreapp3.1/Projet_CSharp_S2.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/Projet_CSharp_S2.dll
obj/Debug/netcoreapp3.1/Projet_CSharp_S2.pdb
